* {
  margin: 0; padding: 0;
  /* outline: 1px solid rgba(255, 0, 0, 0.25) !important; */
  box-sizing: border-box;
  visibility: visible !important;
}
html {
  color: #000000;
  background-color: #fbfbfb;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  height: max-content;
  position: relative;
}
header {
  width: 100%;
  z-index: 999999;
  background-color: #257b9f;
  overflow: hidden;
  position: fixed;
  height: 56px;
  border-bottom: solid 1px rgba(251, 251, 251, 0.5);
}
footer {
  height: 480px;
  background-color: #124054;
  color: #fbfbfb;
}
button {
  cursor: pointer;
}
@supports (scrollbar-color: transparent transparent) {
  * {
    scrollbar-color: #5c9cb7;
    scrollbar-width: auto;
  }
}
.icon {
  width: 32px; height: 32px;
  padding: 4px; margin: 4px;
}
.button-disable {
  pointer-events: none; 
  opacity: 0.5;
}
#logo {
  position: absolute;
  padding: 12px 0px 12px 0px;
  left: 16vw;
  text-decoration: none;
  list-style: none;
  z-index: 999999;
}
#login {
  display: flex;
  justify-content: center;
  top: 0;
  position: absolute;
  padding: 0px 12px 0px 12px;
  margin: 8px 0px 8px 0px;
  right: 16vw;
  list-style: none;
  line-height: 36px;
  border: 1px solid #fbfbfb;
  border-radius: 100em;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#login:hover {
  background-color: #fbfbfb;
  color: #257b9f;
  box-shadow: 0px 4px 8px rgba(18, 64, 84, 0.2);
}
#login > p {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px 4px 0px 4px;
}
#login img {
  height: 16px;
  padding: 0px;
  margin: 10px 10px 10px 6px;
  content: url("../assets/icons/icon-user.png");
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#login:hover img {
  content: url("../assets/icons/icon-user-blue.png");
}
.profile-icon {
  display: flex;
  justify-content: center;
  top: 0;
  position: absolute;
  margin: 8px 0px 8px 0px;
  right: 16vw;
  list-style: none;
  cursor: pointer;
}
.profile-icon img {
  height: 38px;
  padding: 0px;
  outline: 1px solid #fbfbfb;
  border-radius: 100em;
  background-color: #fbfbfb;
}
.profile-icon img:hover {
  outline: 3px solid #fbfbfb;
}
.user-menu {
  position: fixed;
  display: none;
  width: 256px; height: max-content;
  top: 64px;
  right: 16vw;
  margin-right: 8px;
  background-color: #fbfbfb;
  border: 0.5rem solid #fbfbfb;
  outline: 1px solid #ffffff;
  border-radius: 1rem;
  box-shadow: 1rem 1.5rem 1.5rem rgba(18, 64, 84, 0.15);
  text-align: left;
  line-height: 1rem;
}
.user-menu a {
  display: flex;
  width: 100%;
  margin-top: 4px;
  padding: 0 8px;
  color: #333333;
  line-height: 2.4rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.user-menu a:hover {
  color: #257b9f;
  background-color: #257b9f20;
}
.user-menu-icon {
  width: 24px; height: 24px;
  margin: auto 8px auto 0px;
  filter: invert(14%) sepia(34%) saturate(0%) hue-rotate(248deg) brightness(94%) contrast(85%);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.user-menu a:hover .user-menu-icon {
  filter: invert(42%) sepia(24%) saturate(1405%) hue-rotate(152deg) brightness(92%) contrast(84%);
}
.user-menu hr {
  background-color: #333333; 
  height: 1px;
  border: 0;
  opacity: 0.25;
  bottom: 0;
}
.user-menu-profile {
  position: relative;
  display: inline;
  color: #333333;
}
.user-menu-profile img {
  width: 72px;
  margin: 8px;
  border-radius: 100em;
  background-color: #257b9f20;
}
.user-menu-profile h4, .user-menu-profile p {
  padding: 2px 8px;
}
.user-menu-profile p {
  font-size: 0.8rem;
  color:#666666;
}

/* Navigation links */
.nav-links {
  height: max-content;
  color: #fbfbfb;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  right: 14px;
  position: relative;
}
.nav-links a:not(.user-menu a){
  color: #fbfbfb;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-links li {
  display: inline-flex;
  display: relative;
  vertical-align: middle;
  line-height: 36px;
  border-bottom: solid 4px transparent;
}
.nav-link {
  padding: 0px 16px 0px 16px;
  margin: 10px 2px 8px 2px;
  display: relative;
  border-radius: 500em;
}
.nav-link:hover {
  background-color: #5c9cb7;
  cursor: pointer;
}
.nav-links li.active {
  box-shadow: inset 0px 4px 0px #fbfbfb;
}
.rent-nav {
  font-size: 24px;
  font-weight: bold;
  width: 96px;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.rent-nav:hover {
  width: 128px;
}

/* Textbox placeholder properties */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1; /* Firefox */
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cccccc;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #cccccc;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Scrollbar CSS properties */
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: #5c9cb7;
  border-radius: 100vw;
}
::-webkit-scrollbar-track {
  background: #fbfbfb;
}

/* Homepage splashscreen */
.home-header {
  position: relative;
  color: #fbfbfb;
  height: 100vh;
  line-height: 100vh;
  background-color: #257b9f;
}
.home-header > img {
  position: absolute;
  width: 48vw;
  right: 4vw;
  top: 56px;
  bottom: 0;
  margin: auto;
}
.home-content {
  height: 100vh;
  position: relative;
}
.home-header h1 {
  display: inline-block;
  top: 28px;
  font-size: 8vh;
  position: relative;
  justify-content: center;
  vertical-align: middle;
  line-height: 8vh;
  width: 55%;
}
.home-button {
  position: relative;
  top: 56px;
  padding: 12px 36px 12px 36px;
  margin-right: 16px;
  margin-bottom: 8px;
  color: #fbfbfb;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border: solid 3px #fbfbfb;
  border-radius: 500em;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.home-button:hover {
  color:#257b9f;
  background-color: #fbfbfb;
  box-shadow: 0px 4px 8px rgba(18, 64, 84, 0.2);
}

/* Property listing grid/menu */
.listing-body {
  position: relative;
  height: max-content; 
}
.listing-container {
  position: relative;
  height: 100%;
  margin: 32px 0;
}
.listing-search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 32vh;
}
.listing-search-bar {
  font-size: 1rem;
  color: #666666;
  position: relative;
  outline: none;
  background-color: transparent;
  border: solid 2px #c9dee7;
  border-radius: 100rem;
  box-shadow: inset 0.2rem 0.3rem 0.6rem rgba(18, 64, 84, 0.1);
  padding: 12px 56px 12px 24px;
  margin: 0px 8px 0px 0px;
  left: 24px;
  width: 256px;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.listing-search-bar:focus {
  border: solid 2px #257b9f;
  background-color: #ffffff;
  box-shadow: 0.2rem 0.3rem 0.6rem rgba(18, 64, 84, 0.1);
  width: 320px;
}
.listing-search-bar-icon {
  position: relative;
  right: 36px;
  opacity: 0.4;
  filter: invert(36%) sepia(16%) saturate(6117%) hue-rotate(171deg) brightness(88%) contrast(71%);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.listing-search-bar:focus + .listing-search-bar-icon {
  opacity: 1;
  right: 36px;
}

.listing-grid {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: 
    "one two three four"
    "five six seven eight";
}
.list-property {
  position: relative;
  width: auto; height: 512px;
  background-color: #fbfbfb;
  border: 0.5rem solid #fbfbfb;
  outline: 1px solid #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(18, 64, 84, 0.2);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.list-property::before {
  content: "";
  position: absolute;
  width: 100%; height: 196px;
  background-color: #257b9f11;;
  border-radius: 0.5rem;
}
.list-property:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 0.5rem solid #ffffff;
  box-shadow: 2rem 3rem 3rem rgba(18, 64, 84, 0.1);
  z-index: 9999;
}
.listing-property-container {
  width: 100%; height: 464px;
}
.listing-property-image-container {
  width: 100%; height: 196px;
  overflow: hidden;
  border-radius: 0.5em;
}
.listing-property-image-container img {
  position: relative;
  width: inherit; height: inherit;
  object-fit: cover;
  border-radius: 0.5em;
  transform: scale(1);
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.list-property:hover .listing-property-image-container img {
  transform: scale(1.1);
}
.listing-property-info-container {
  display: flex;
  position: relative;
  width: 100%;
  padding: 1rem 0.5rem 1rem 0.5rem;
  height: 268px;
  color:#666666;
}
.listing-property-info-container h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
}
.listing-property-info-container h3:first-child {
  overflow: hidden;
  height: 3rem;
}
.listing-property-address {
  height: 4rem;
}
.listing-property-info {
  height: 4rem;
}
.listing-property-info p {
  display: inline;
  margin-right: 1.25rem;
}
.listing-property-info h4 {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
  font-size: 1.2rem;
  line-height: 2rem;
  vertical-align: middle;
}
.listing-property-info img {
  margin: 0px 4px 0px 0px;
  filter: invert(14%) sepia(34%) saturate(0%) hue-rotate(248deg) brightness(94%) contrast(85%);
}
.listing-property-info img:last-of-type {
  margin: 0px 4px 0px 16px;
}
.listing-property-info-container h3:last-child {
  position: absolute;
  bottom: 1rem;
}
.listing-property-owner hr {
  background-color: #333333; 
  height: 1px;
  border: 0;
  opacity: 0.25;
  bottom: 0;
}
.listing-property-owner {
  position: absolute;
  width: 100%; height: 32px;
  font-size: 0.8rem;
  line-height: 32px;
  bottom: 0;
}
.listing-property-owner p {
  padding: 0 8px 0 8px;
}
.listing-page-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 128px;
}
.listing-page-nav {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  width: max-content; height: 16px;
  background-color: #257b9f11;
  border-radius: 100em;
}
.page-button {
  width: 32px; height: 8px;
  margin: 0.2rem;
  border: none;
  border-radius: 100em;
  background-color: #92bdcf;
}
.active-page {
  background-color: #124054;
}

/* Footer contents */
.footer-content {
  height: 100%;
}
#bottom-text {
  position: relative;
  display: inline-flex;
  width: 100%; height: 46px;
  line-height: 46px;
  font-style: normal;
}
#bottom-copyright {
  margin: 0 auto auto 16px;
}
#bottom-links {
  position: relative;
  display: inline-flex;
  color: #fbfbfb;
  text-decoration: none;
  margin: 0 16px auto auto;
}
#bottom-links p {
  margin-left: 1vw;
}
#bottom-text :last-child a{
  color: #fbfbfb;
  text-decoration: none;
}
#footer-sections {
  width: 100%; height: 90%;
  display: flex;
  justify-content: space-between;
}
#logo-footer {
  position: relative;
  padding: 96px 2vw 0px 2vw;
  width: auto;
}
#logo-footer img {
  position: relative;
}
#logo-footer p {
  width: 240px;
  top: 1rem;
  position: relative;
  color: #c9dee7;
}
#quick-links {
  font-size: 16px;
  line-height: 32px;
  position: relative;
  padding: 64px 2vw 64px 2vw;
  width: auto;
}
#quick-links li {
  list-style: none;
}
.footer-link {
  color: #92bdcf;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.footer-link:hover {
  color: #fbfbfb;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#socials {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  padding: 64px 2vw 64px 2vw;
  width: auto;
}
#socials p {
  color: #c9dee7;
}
.link-box {
  display: inline-block;
  text-align: center;
}
.link-box a > i {
  height: 32px;
}
.link-icon {
  padding: 8px;
  opacity: 0.8;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.link-icon:hover {
  opacity: 1;
}
.link-icons {
  bottom: 0px;
  padding: 0px;
  position: absolute;
  right: 0px;
}
.link-icons p {
  font-size: 16px;
}
.link-icon > i {
  display: inline-block;
}
.icon-facebook i {
  content: url("../assets/icons/icon-facebook.png");
}
.icon-instagram i {
  content: url("../assets/icons/icon-instagram.png");
}
.icon-twitter i {
  content: url("../assets/icons/icon-twitter.png");
}
.icon-youtube i {
  content: url("../assets/icons/icon-youtube.png");
}
footer hr {
  background-color: #fbfbfb; 
  height: 1px; 
  border: 0;
  opacity: 0.5;
}

/* Back to top of the page button */
#backToTop {
  width: 48px; height: 48px;
  position: fixed;
  background-color: #257b9f;
  border-radius: 50%;
  right: 32px;
  bottom: 32px;
  box-shadow: 0px 2px 8px rgba(18, 64, 84, 0.4);
  z-index: 999999;
  cursor: pointer;
}
.backToTop-button {
  position: relative;
  margin: 19px;
}
.arrow {
  border: solid #fbfbfb;
  border-width: 0 4px 4px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 4px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Sign-up.php */
#signup-splashscreen {
  position: relative;
  width: 24vw; height: 100vh;
  background-color: #257b9f;
}
#signup-splashscreen a {
  top: 48px;
  left: 48px;
  position: relative;
}
.user-signup-section {
  position: relative;
  display: flex;
  width: 76vw;
  overflow: hidden;
  background-color: #fbfbfb;
}
.user-signup-form-container {
  position: relative;
  margin: auto auto;
  padding: 4rem 12rem;
  color: #333333;
}
.user-signup-form-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.signup-input p {
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}
.user-signup-form > input {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px;
  width: 100%;
  color: #fbfbfb;
  border-radius: 100rem;
  border: 3px solid #257b9f;
  background-color: #257b9f;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.user-signup-form > input:hover {
  color: #257b9f;
  background-color: #fbfbfb;
}
.user-signup-form-container > p {
  position: relative;
  text-align: center;
}
.user-signup-form-container a {
  color: #257b9f;
  text-decoration: none;
  border-bottom: 3px solid #257b9f00;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.user-signup-form-container a:hover {
  border-bottom: 3px solid #257b9f;
}

.form-textinput input {
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  color: #333333;
  border: none;
  border-bottom: solid 3px #66666666;
  background-color: transparent;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.form-textinput input:focus {
  outline: none;
  border-bottom: solid 3px #5c9cb7;
}
.form-textinput input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5c9cb766;
}

.form-textinput input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #5c9cb766;
}

.form-textinput input:focus::-ms-input-placeholder { /* Microsoft Edge */
  color: #5c9cb766;
}

/* login.php */
#login-splashscreen {
  position: relative;
  width: 24vw; height: 100vh;
  background-color: #257b9f;
}
#login-splashscreen a {
  top: 48px;
  left: 48px;
  position: relative;
}
.user-login-section {
  position: relative;
  display: flex;
  width: 76vw;
  overflow: hidden;
  background-color: #fbfbfb;
}
.user-login-form-container {
  position: relative;
  margin: auto auto;
  padding: 4rem 12rem;
  color: #333333;
}
.user-login-form-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.login-input p {
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}
.user-login-form > input {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px;
  width: 100%;
  color: #fbfbfb;
  border-radius: 100rem;
  border: 3px solid #257b9f;
  background-color: #257b9f;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.user-login-form > input:hover {
  width: 100%;
  color: #257b9f;
  border: 3px solid #257b9f;
  background-color: #fbfbfb;
}
.user-login-form-container > p {
  position: relative;
  text-align: center;
}
.user-login-form-container a {
  color: #257b9f;
  text-decoration: none;
  border-bottom: 3px solid #257b9f00;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.user-login-form-container a:hover {
  border-bottom: 3px solid #257b9f;
}

/* Dashboard */
#dashboard {
  color: #333333;
  height: max-content;
  min-height: 100vh;
}
.dashboard-container {
  padding: 56px 0;
}
.dashboard-content {
  position: relative;
  display: flex;
}
.dashboard-container h1 {
  font-size: 3rem;
  padding: 2rem 0 0;
  width: 100%;
}
.container-margin {
  margin: 0 16vw;
}
.container-left {
  width: 16rem;
}
.container-left > div {
  color: #fbfbfb;
  margin: 2rem 1rem 2rem 0;
  background-color: #257b9f;
  border: 0.5rem solid #257b9f;
  outline: 1px solid #92bdcf;
}
.container-right {
  width: 70%;
}
.container-right h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 16px 8px;
  border-radius: 0.5rem;
}
.container-right > div {
  margin: 2rem 0 2rem 1rem;
  background-color: #fbfbfb;
  border: 0.5rem solid #fbfbfb;
  outline: 1px solid #ffffff;
}
.dashboard-content > div > div {
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(18, 64, 84, 0.2);
}
.account-profile {
  position: relative;
  display: inline;
}
.account-profile img {
  width: 128px;
  margin: 8px;
  border-radius: 100em;
  /* background-color: #fbfbfb; */
}
.account-profile h2, .account-profile p {
  padding: 2px 8px;
}
.account-profile p {
  font-size: 0.8rem;
  color: #fbfbfbcc;
}
.account-info {
  height: max-content;
  color: #fbfbfb;
  background-color: #257b9f;
  border: 0.5rem solid #257b9f;
  outline: 1px solid #5c9cb7;
}
.account-info hr {
  background-color: #fbfbfb; 
  height: 1px;
  border: 0;
  opacity: 0.75;
  bottom: 0;
}
.apply-landlord-button {
  width: 240px;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px;
  color: #fbfbfb;
  border-radius: 100rem;
  border: 3px solid #257b9f;
  background-color: #257b9f;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.apply-landlord-button:hover {
  color: #257b9f;
  background-color: #fbfbfb;
}

.dashboard-content {
  position: relative;
  height: max-content;
}
.dashboard-table-content {
  position: relative;
}
.dashboard-table {
  height: 100%;
  max-height: 31rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px #cccccc;  
  background-color: #cccccc22;
  overflow-y: scroll;
}
.dashboard-table table {
  width: 100%;
  height: 100%;
  padding: 8px;
  text-align: center; 
  font-size: 0.8rem;
  border-spacing: 0;
}
.dashboard-table th {
  padding: 8px 0;
}
.th-border {
  border-top: 1px solid #cccccc;
}
.dashboard-table td {
  background-color: #cccccc22;
  padding: 16px 2px;
  color: #666666;
}
.dashboard-table tr {
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dashboard-table tr:hover:not(.spacer):not(.no-hover) {
  background-color: #c9dee7;
  cursor: pointer;
  transition: none;
}

.dashboard-table td:first-child,
.dashboard-table th:first-child:not(.th-border) {
  border-radius: 10px 0 0 10px;
}
.dashboard-table td:last-child,
.dashboard-table th:last-child:not(.th-border) {
  border-radius: 0 10px 10px 0;
}
.spacer td {
  padding: 4px;
  opacity: 0;
}

.dashboard-empty {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #666666;
  border: solid 1px #cccccc;  
  background-color: #cccccc22;
  border-radius: 0.5rem;
  height: 400px;
  width: 100%;
  margin-top: 0.5rem;
}
.dashboard-empty button {
  width: 160px;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 8px;
  color: #257b9f;
  background-color: transparent;
  border-radius: 100rem;
  border: 3px solid #257b9f;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.dashboard-empty button:hover {
  color: #fbfbfb;
  background-color: #257b9f;
}

/* Profile Settings */
#settings {
  color: #333333;
  height: max-content;
  min-height: 100vh;
}
.settings-container {
  padding: 56px 0;
}
.settings-container > h1 {
  font-size: 3rem;
  padding: 2rem 0 0;
  width: 100%;
}
.settings-content {
  position: relative;
  display: flex;
  height: max-content;
  margin: 2rem 0;
  background-color: #fbfbfb;
  border: 0.5rem solid #fbfbfb;
  outline: 1px solid #ffffff;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.3rem 0.5rem rgba(18, 64, 84, 0.2);
}
.settings-content h1 {
  font-size: 3rem;
}
.settings-content h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 16px 8px;
  border-radius: 0.5rem;
}
.settings-content p {
  color: #999999;
}
.profile-section {
  display: inline;
  width: 100%;
}
.profile-info {
  display: flex;
}

.profile-pic-container  {
  position: relative;
  border-radius: 50%;
}
.profile-pic-container h4 {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 256px;
  color: #fbfbfb;
  top: 57%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  pointer-events: none;
}
.profile-pic {
  width: 256px;
  margin: 16px;
  border-radius: 50%;
  /* border: 1px solid #cccccc; */
  background-color: #257b9f20;
}
.profile-pic-container .camera-icon {
  position: absolute;
  width: 48px;
  top: 43%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  filter: invert(99%) sepia(3%) saturate(20%) hue-rotate(331deg) brightness(105%) contrast(97%);
  z-index: 9999;
  pointer-events: none;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.profile-pic-container:after {
  content: '';
  color: #fbfbfb;
  font-weight: bold;
  position: absolute;
  display: flex;
  justify-content: center;
  line-height: 256px;
  margin: 16px;
  width: 256px; height: 256px;
  top: 0; left: 0;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  opacity: 0;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}
.profile-pic-container:hover:after,
.profile-pic-container:hover .camera-icon,
.profile-pic-container:hover .camera-icon-text {
  opacity: 1;
}

.profile-info div:nth-child(2) {
  width: 100%;
  padding: 24px;
  margin: auto;
}
.edit-button {
  float: right;
  color: #666666;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #cccccc;
  padding-right: 8px;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.edit-button:hover {
  background-color: #cccccc22;
}
.edit-icon {
  padding: 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  filter: invert(14%) sepia(34%) saturate(0%) hue-rotate(248deg) brightness(94%) contrast(85%);
}

.profile-username {
  font-size: 3rem;
  font-weight: bold;
  width: 90%;
  color: #333333;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.5rem;
}
.profile-email {
  margin: 8px 0;
  font-size: medium;
  font-weight: bold;
  width: 60%;
  color: #333333;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.5rem;
}
.account-info-form input:focus {
  outline: none;
}

.personal-details {
  display: inline;
  width: 100%;
}
.personal-info-form {
  padding: 0 8px;
  border-radius: 0.5rem;
}
.personal-info-form div {
  margin: 8px 0;
  padding: 16px;
  height: max-content;
  border-radius: 0.5rem;
  background-color: #cccccc33;
}
.personal-info-form input {
  padding: 2px 0;
  font-size: medium;
  font-weight: bold;
  color: #333333;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 0.5rem;
}
.personal-info-form input:focus {
  outline: none;
}
.personal-address {
  width: 100%;
  height: max-content;
}

.image-upload-overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000000bb;
  z-index: 99999;
}
.image-upload-overlay form {
  position: relative;
  width: 512px;
  height: 512px;
  padding: 8px 8px;
  margin: 25vh auto;
  background-color: #fbfbfb;
  border: 0.5rem solid #fbfbfb;
  border-radius: 1rem;
  outline: 1px solid #ffffff;
  box-shadow: 2rem 3rem 2rem #00000011;
}

.close-icon {
  float: right;
  margin: 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 0.5rem;
  background-color: none;
  filter: invert(14%) sepia(34%) saturate(0%) hue-rotate(248deg) brightness(94%) contrast(85%);
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.close-icon:hover {
  background-color: #cccccc77;
}
.image-upload-form input {
  cursor: pointer;
}

.image-upload-overlay .profile-pic {
  display: flex;
  margin: 32px auto;
  width: 320px;
}
.image-upload-overlay input {
  display: inline;
  align-content: center;
  width: 100%;
}

/* Landlord Registration */
.register-splashscreen {
  position: relative;
  width: 24vw; height: 100vh;
  background-color: #257b9f;
}
.register-splashscreen a:nth-child(1) {
  top: 48px;
  left: 48px;
  position: relative;
}
.return-dashboard {
  position: fixed;
  display: absolute;
  bottom: 48px;
  left: 48px;
  color: #fbfbfb;
  text-decoration: none;
  border-bottom: 3px solid #fbfbfb00;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.return-dashboard:hover {
  border-bottom: 3px solid #fbfbfb;
}

.landlord-application-section {
  position: relative;
  display: flex;
  width: 76vw;
  overflow: hidden;
  background-color: #fbfbfb;
}
.landlord-application-form-container {
  position: relative;
  width: 100%;
  padding: 4rem 4rem;
  color: #333333;
}
.landlord-application-form-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.application-input input,
.application-input textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  color: #333333;
  border: none;
  border-bottom: solid 3px #66666666;
  background-color: #eeeeee;
  resize: none;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.application-input input:focus,
.application-input textarea:focus {
  outline: none;
  background-color: #5c9cb733;
  border-bottom: solid 3px #5c9cb7;
}
.application-input input:focus::placeholder,
.application-input textarea:focus::placeholder {
  color: #5c9cb766;
}
.application-input input p {
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}

.landlord-application-form > input {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px;
  width: 12rem;
  color: #fbfbfb;
  border-radius: 100rem;
  border: 3px solid #257b9f;
  background-color: #257b9f;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.landlord-application-form > input:hover {
  color: #257b9f;
  background-color: #fbfbfb;
}
.landlord-application-form-container > p {
  position: relative;
  text-align: center;
}
.landlord-application-form-container a {
  color: #257b9f;
  text-decoration: none;
  border-bottom: 3px solid #257b9f00;
  transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.landlord-application-form-container a:hover {
  border-bottom: 3px solid #257b9f;
}

/* About Us */
#about {
  color: #333333;
  height: max-content;
  min-height: 100vh;
}
.about-container {
  padding: 56px 0;
}
.about-container > h1 {
  font-size: 3rem;
  padding: 2rem 0 0;
  width: 100%;
}

/* Media queries */
@media only screen and (max-width: 85em) {
  .listing-grid {
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
      "one two"
      "three four"
      "five six"
      "seven eight";
  }
}
@media only screen and (max-width: 75em) {
  #logo {
    left: 4vw;
  }
  #login, .profile-icon, .user-menu {
    right: 2vw;
  }
  .container-margin {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}
@media only screen and (max-width: 60em) {
  .listing-grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight";
  }
  .list-property {
    position: relative;
    width: auto; height: 320px;
    overflow-y: hidden;
  }
  .list-property::before {
    position: absolute;
    display: flex;
    width: 40%; height: 264px;
  }
  .listing-property-container {
    display: flex;
    width: 100%; height: 264px;
    overflow: hidden;
  }
  .listing-property-image-container {
    width: 40%; height: 100%;
  }
  .listing-property-image-container img {
    width: 100%; height: 100%;
  }
  .listing-property-info-container {
    display: flex;
    position: relative;
    width: 60%; height: 264px;
    padding: 0.5rem 0.5rem 1rem 1rem;
  }
  .listing-property-info-container h3:first-child {
    overflow: hidden;
    height: 4.5rem;
  }
  .listing-property-address {
    height: 3rem;
  }
  .listing-property-info {
    display: flex;
  }
  .listing-property-info p {
    margin-left: 1.25rem;
    margin-right: 0;
    line-height: 2rem;
    vertical-align: middle;
  }
  .listing-property-info-container h3:last-child {
    position: absolute;
    bottom: 0.5rem;
  }
}
@media only screen and (max-width: 50em) {
  .listing-property-info {
    display: inline;
  }
  .listing-property-info p {
    margin-left: 0;
    margin-right: 1.25rem;
    line-height: 1rem;
  }
}